a {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	&:focus {
		outline: 0;
		box-shadow: none;
	}
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
	}
}
